@tailwind base;

html {
  scroll-behavior: smooth;
  word-break: break-word;
  background-color: white; /* fallback background */
}

/* === Zoom Simulation === */
#zoom-wrapper {
  transform: scale(0.67);
  transform-origin: top left;
  width: 149.25vw; /* to prevent horizontal clipping */
  height: 149.25vh;
  overflow: hidden;
}

/* === Light Mode ::selection === */
::selection {
  background-color: #fc8d25;
  color: white;
}

/* === Dark Mode ::selection === */
.dark ::selection {
  background-color: #60a5fa;
  color: #000;
}

/* === Scrollbar Styling === */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #f1f5f9;
}

/* WebKit Browsers */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #ff9627;
  border-radius: 10px;
  border: none;
}

/* Dark Mode Scrollbar */
.dark *::-webkit-scrollbar-track {
  background: #1e293b;
}
.dark *::-webkit-scrollbar-thumb {
  background-color: #ff9f29;
  border: none;
}

@tailwind components;
@tailwind utilities;
